#app3 .movebox{
    margin-top: 50px;
    width: 10vh;
    height: 10vh;
    background-color: pink;
    line-height: 10vh;
    text-align: center;
    font-size: 5px;
}
#app3 .movebox.active{
    animation: move 2s linear forwards ;
}
@keyframes move {
    0%{}
    100%{
        transform: translateX(10vh) translateX(10vh) rotate(360deg) scale(2);
    }
}